# Unity 生成的文件夹

[Ll]ibrary/

[Tt]emp/

[Oo]bj/

[Bb]uild/

[Bb]uilds/

[Ll]ogs/

[Uu]ser[Ss]ettings/

# Unity 缓存文件

*.csproj

*.unityproj

*.sln

*.suo

*.tmp

*.user

*.userprefs

*.pidb

*.booproj

*.svd

*.pdb

*.mdb

*.opendb

*.VC.db

# Unity 3D 生成的文件

ExportedObj/

.consulo/

*.csproj

*.unityproj

*.sln

*.suo

*.tmp

*.user

*.userprefs

*.pidb

*.booproj

*.svd

*.pdb

*.mdb

*.opendb

*.VC.db

# 不需要上传的文件夹
Assets/Epic Toon FX/
Assets/CartoonVFX9X/
Assets/WebGLTemplates/

# main分支：忽略微信SDK（使用字节SDK）
Assets/WX-WASM-SDK-V2/

# macOS

.DS_Store

.DS_Store?

._*

.Spotlight-V100

.Trashes

ehthumbs.db

Thumbs.db

# Visual Studio

.vs/

# JetBrains Rider

.idea/

*.sln.iml

# Visual Studio Code

.vscode/

# 其他

*.swp

*.swo

*~

